.App {
  text-align: center;
}

.Game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}

.Game-Board {
  background-color: #0077ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.Game-Row {
  display: flex;
  flex-direction: row;
}

.Game-Cell {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px;
}

.Game-Cell:hover {
  cursor: pointer;
  background-color: lightgray;
}

.Game-Cell.red {
  background-color: red;
  cursor: not-allowed;
}

.Game-Cell.yellow {
  background-color: yellow;
  cursor: not-allowed;
}

.Game-Cell.animated {
  animation-name: animated;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transform-style: preserve-3d;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
  color: black;
}
.Game-Cell.animated::after {
  content: "×";
}

.Game-Replay-Button {
  margin: 10px;
  padding: 4px;
  border-radius: 3px;
  color: white;
  background-color: red;
  border-style: none;
}

.Game-Replay-Button:focus {
  outline: none;
}

.Game-Replay-Button.game-over {
  background-color: green;
}

.Game-Scoreboard {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.Game-Scoreboard table {
  border: 1px solid #ccc;
  border-spacing: 0;
}

.Game-Scoreboard table th,
.Game-Scoreboard table td {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.Game-Scoreboard table th:last-child,
.Game-Scoreboard table td:last-child {
  border-right: none;
}

.Game-Scoreboard tbody tr:last-child th,
.Game-Scoreboard tbody tr:last-child td {
  border-bottom: none;
}

@keyframes animated {
  50% {
    transform: rotateY(180deg);
  }
}
